/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 label{
   font-size: medium;
 }

 .my-label{
  font-weight: 400;
 }

 .my-container{
  height: 400px;   // all'occorrenza si può aumentare
  width: 450px;
  border-color: aquamarine;
  overflow: auto;
 }

 .google-btn{
   margin-top: 100px;
   margin-left: 100px;
 }

 select{
   background-color: #d6ffe1;
 }

 #main-container{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px;
 }

 .navbar-default{
    padding-top:10px; 
    padding-bottom: 10px;
    background-color: #d6ffe1;
 }

 #main-container .navbar-default {
    min-height: 100px;
 }

 .container-fluid{
    padding-top: 110px; 
    padding-bottom: 80px;
 }

 @media screen and (max-width: 768px){

    *[class*='col-xs']{
      padding:50px;
    }
  
  }